.postTitle
  = @work.title
.postDate
  = @work.created_at
.postAuthor
- if user_signed_in? && current_user.id == @work.user_id
  = link_to "編集", edit_work_path(@work.id), class: "workManage__edit"
  = link_to "削除", work_path(@work.id), method: :delete, class: "workManage__delete"
.postText
  = simple_format @work.content
